@{
    ViewBag.Title = "About";
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}



 
<div style="margin-top:55px;">

    <section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('/img/img-why-copyright.jpg');" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
                <div class="col-md-9 ftco-animate pb-5">

                    <h1 class="mb-3 bread">About Us ....</h1>
                </div>
            </div>
        </div>
    </section>
</div>
    <section class="ftco-section services-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 heading-section text-center ftco-animate mb-5">

                    <h2 class="mb-2 " style="color:darkorange;">Our Services</h2>
                </div>
            </div>
            <div class="row d-flex">
                <div class="col-md-3 d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services">
                        <div class="media-body py-md-4">
                            <div class="d-flex mb-3 align-items-center">
                                <div class="icon"><span class="flaticon-placeholder"></span></div>
                                <h3 class="heading mb-0 pl-3">RAKNA Support</h3>
                            </div>
                            <p>A private car only for using RAKNA's services </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services">
                        <div class="media-body py-md-4">
                            <div class="d-flex mb-3 align-items-center">
                                <div class="icon"><span class="flaticon-placeholder"></span></div>
                                <h3 class="heading mb-0 pl-3">Lots of Garages</h3>
                            </div>
                            <p>We have a more than Garage in all governorate and cities supports RAKNA</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services">
                        <div class="media-body py-md-4">
                            <div class="d-flex mb-3 align-items-center">
                                <div class="icon"><span class="flaticon-placeholder"></span></div>
                                <h3 class="heading mb-0 pl-3">Reservation</h3>
                            </div>
                            <p>Some few steps to park your car in safty garages</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services">
                        <div class="media-body py-md-4">
                            <div class="d-flex mb-3 align-items-center">
                                <div class="icon"><span class="flaticon-placeholder"></span></div>
                                <h3 class="heading mb-0 pl-3">Rental Cars</h3>
                            </div>
                            <p>Also you can park a rental cars in  garages by RAKNA</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section services-section img" style="background-image: url('/img/post-1-copyright-1170x658.jpg');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
                    <span class="subheading">Work flow</span>
                    <h2 class="mb-3">How it works</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services services-2">
                        <div class="media-body py-md-4 text-center">
                            <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-route"></span></div>
                            <h3>Pick Garage Location</h3>
                            <p>It's a first step for parking your car in RAKNA pick garage loction from map</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services services-2">
                        <div class="media-body py-md-4 text-center">
                            <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-select"></span></div>
                            <h3>Select Slot</h3>
                            <p>By choose governorate then city then garage then avilabel slot</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services services-2">
                        <div class="media-body py-md-4 text-center">
                            <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-rent"></span></div>
                            <h3>Choose A Car</h3>
                            <p>choose a car is important for your safty if you want to park astrange car  you must add it to your car</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services services-2">
                        <div class="media-body py-md-4 text-center">
                            <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-review"></span></div>
                            <h3>Enjoy Safty</h3>
                            <p>With this few stebs you will enjoy with sefty and peace of mind</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>






