
@{
    ViewBag.Title = "Map";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Map</h2>

<!-- This is the div that will contain the Google Map -->
<div id="map_canvas" style="height: 600px;"></div>
<input id="address" type="text" style="width:600px;" /><br />
<input type="text" id="latitude" placeholder="Latitude" />
<input type="text" id="longitude" placeholder="Longitude" />

@section scripts {
<section class="scripts">
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDJOZd-P3bAJXBAYtfryQT_GTv61uRehMs&sensor=true"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script> 
    <script type="text/javascript" src="@Url.Content("~/Scripts/Site.js")"></script> 

</section>
}
